<!--Menu-->
<br>
<div class="card">
  <div class="card-header" style="text-align:center">
      Sejam bem vindos !
  </div>
  <div class="card-body" style="text-align:center">
    <blockquote class="blockquote mb-0">
      <p>Aqui você pode assistir o filme que quiser e a hora que quiser.</p>
    </blockquote>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div>
      <h2>Filmes mais vistos</h2>
    </div>
    
      <div class="card-deck">
        <div class="card col-4">
          <img src="../../assets/images/terror.jpg" class="card-img-top img-fluid mx-auto" >
          <div class="card-body">
            <h5 class="card-title">Uma noite de crime</h5>
          </div>
        </div>

        <div class="card col-4">
          <img src="../../assets/images/transferir.jfif" class="card-img-top img-fluid mx-auto">
          <div class="card-body">
            <h5 class="card-title">Velozes e Furiosos 9</h5>
          </div>
        </div>

        <div class="card col-4">
          <img src="../../assets/images/transferir (1).jfif" class="card-img-topimg-fluid mx-auto">
          <div class="card-body">
            <h5 class="card-title">Minha mãe é uma peça 3</h5>
          </div>
        </div>
    </div>
  </div>
</div>