    <section class="text-center">
      <div class="container align-self-center">
        <div class="row">
          <div class="col-3 mb-3">
            <div class="card" style="width: 18rem;">
              <img [src]="categoria.imagePath" class="card-img-top" width="180px" height="180">
              <div class="card-body">
                <h5 class="card-title">{{categoria.titulo}}</h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>